body {
  margin: 0px;
}

.menu-bar {
  width: 120px;
  position: fixed;
}

.menu-item {
  height: 20vh;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#main-bar {
  background-color: #A8E6CF;
}

#education-bar {
  background-color: #DCEDC1;
}

#work-experience-bar {
  background-color: #FFD3B6;
}

#skills-bar {
  background-color: #FFAAA5;
}

#interests-bar {
  background-color: #FF8B94;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 50% 0;
  font-family: 'Amatic SC';
  font-size: 34px;
}

#work-experience-bar span {
  padding: 30% 0;
}

.menu-item:hover {
  font-weight: 700;
}

.content {
  margin-left: 120px;
}

.page {
  height: 120vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Amatic SC';
  font-weight: 700;
  margin-top: 0px;
  padding-top: 20px;
}

#main {
  background-color: #A8E6CF;
}

#profile-image {
  max-width: 250px;
  width: auto;
  margin: 0 auto;
}

#education {
  background-color: #DCEDC1;
}

#work-experience {
  background-color: #FFD3B6;
}

#skills {
  background-color: #FFAAA5;
}

#interests {
  background-color: #FF8B94;
}
