body {
  background-color: #FFF4D4;
  text-align: center
}

h1, h3 {
  font-family: Raleway;
  font-weight: 700;
  margin: 15 auto;
}

h1 {
  font-size: 24px;
}

p#self-intro {
  font-size: 18px;
}

p#lewagon {
  font-size: 18px;
}

p {
  font-family: 'EB Garamond';
  margin: 0.5em auto;
  width: 350px;
}

img {
  max-height: 200px;
  width: auto;
}

a:hover {
  font-weight: bold;
}

.container {
  width: 450px;
  margin: 0 auto;
}

.card {
  border: solid 1px;
  border-color: rgba(200, 200, 200, 0.9);
  margin: 5px 0px;
}

.locations {
  background-color: #75A17F;
}

.coding-skills {
  background-color: #FEC3A6;
}

.interests {
  background-color: #FF7F1E;
}

@media (max-width: 500px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 400px;
  }
}

@media (max-width: 440px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 350px;
  }
}
