body {
  margin: 0px;
}

.menu-bar {
  width: 140px;
  position: fixed;
}

.menu-item {
  height: 20vh;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#profile-menu {
  background-color: #A8E6CF;
}

#experience-menu {
  background-color: #DCEDC1;
}

#values-menu {
  background-color: #FFD3B6;
}

#interests-menu {
  background-color: #FFAAA5;
}

#contact-menu {
  background-color: #FF8B94;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 7vh 0;
  font-family: 'Amatic SC';
  font-size: 6vh;
}

.menu-item:hover {
  font-weight: 700;
}

.content {
  margin-left: 140px;
}

.page {
  height: 120vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Amatic SC';
  font-weight: 700;
  margin-top: 0px;
  padding-top: 20px;
}

h3 {
  font-family: 'Amatic SC';
  font-size: 28px;
  font-weight: 400;
}

#profile {
  background-color: #A8E6CF;
}

#profile-image {
  max-width: 250px;
  width: auto;
  margin: 0 auto;
}

.experience-content {
  width: 100%;
  min-height: 80%;
}

#experience {
  background-color: #DCEDC1;
}

.education {
  width: 50%;
  float: left;
}

.work {
  width: 50%;
  float: left;
}



#cv-download {
  font-family: 'Amatic SC';
  font-size: 20px;
}

.cv {
  font-family: 'Amatic SC';
  font-size: 20px;
  padding: 0 5px;
}

.cv:hover {
  font-weight: 700;
  text-decoration: underline;
}

#values {
  background-color: #FFD3B6;
}

#interests {
  background-color: #FFAAA5;
}

#contact {
  background-color: #FF8B94;
}
